*{
    margin:0px;
    padding:0px;
}

h1{
    color :#5a4bda;
    font-family: 'Poppins', sans-serif;
    margin : 10px;
    padding : 2px;

}

h2{
    color : #5a4bda;
    font-family: 'Poppins', sans-serif;
    margin : 10px;
    padding : 2px;
}

body{
    background-color: hsl(0, 0%, 50%);
    background-image: url(https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fGJyb3dzZXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;

}

article,section{
    color:aliceblue;
    margin-left:10px;
    padding-left:2px;
    font-family: 'Poppins', sans-serif;   
}